// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    font-size: 1rem !important;

}

.cont{
    padding: 0 20px;
    height: 100%;
}

section{
    margin-bottom: 25px;
}

.inner-container{
    border-bottom: 1px solid #009432;
}
.inner-container:last-child{
    border: 0px;
}
.dropdown-item:hover{
    cursor: pointer;
}

//Nav
.title{
   background: #fff;
}

.title-items{
    display:flex;
    justify-content: space-between;
    padding:10px 0;
}
.title-word{
    color: #009432;
}

.title-items>ul{
    justify-content: space-around;
    width: 250px;
    display: flex;
}

.nav{
    background: #009432;
    color: #fff;
    padding: 5px 0px;
}

nav>ul{
    width: fit-content;
    display: flex;
}
nav>ul li{
    font-size:1rem;
    margin-right: 15px;
    text-transform: uppercase;
}
nav>ul li button{
    font-size:1rem;
    background: #009432;
    border:0;
    color:#fff !important;
}
nav>ul li:last-child{
    padding-top:3px;
}




// main compoenent

.main-banner{
    background: url("../img//MainBanner.jpg");
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
}

.banner-items{
    height: 100%;
    padding-top: 5%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .5)   ;
    
}

.main-banner-title{
    font-size: 1.8rem;
}

.main-banner-subtitle{
    font-size: 1.3rem;
}

//search
.search{
    text-align: left;
    padding: 0 10%;
}

.search-buttons{
    height: 40px;
    color: #fff !important;
    margin-bottom: 5px;
}

.search-bar input {
    width: 250px;
    padding-left: 5px;
}
.search-bar>div{
    width: 100%;
}

.search-buttons>button{
    height: 100%;
    opacity: 0.8;
    background: #009432;
    border: 0;
    margin-right: 3px;
}

.search-bar{
    display: flex;
    height: 40px;
}
.filterd-by-district:hover{
    cursor: pointer;
    text-decoration: underline;
    color:rgb(46, 129, 236)
}

.search-bar .dropdown{
    display: inline;
}

.search-bar-buttons-cont{
    text-align: center;
}

.search-bar-buttons{
    width: 30%;
    display: inline;
    height: 100%;
}
.search-bar-buttons button{
    height: 100%;
}

// map
.map-container{
    display:flex;
    padding-top: 30px;
    
}


.map{
    width: 60%;
    height: 480px;
}

.map>div{
    position: relative;
    width: 100%;
    height: 100%;
}
.map>div>div{
    height:80% !important;
    // position: relative !important;
}

.welcome-message{
    width: 40%;
    padding-right: 3%;
    text-align: center;
}
.welcome-message>div{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.welcome-message-title{
    font-weight: bold;
}


// sales items

.card{
    margin-right: 1%;
    margin-bottom:2%;
    width: 20% !important;
      
}

.card>p{
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    margin:0;
}

.sales-items{
    justify-content: center;
    display:flex;
    flex-wrap:wrap;
}

.sales-item-title{
    border-bottom: 1px solid;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 45% 15px;
}

.card-img-top{
    height: 150px !important;
}

//footer
.footer{
    border-top: 3px #009432 solid;
    background:#fff;
    margin-bottom:0 ;
    clear: both;
}
.footer-container{
    padding: 2% 10% 0;
}

.footer-section-one{
    display:flex;
    justify-content: space-between;
}
.footer-section-two{
    border-top:1px solid #009432;
    margin-top:5px;
    display:flex;
    justify-content: space-between;
}

.social-media li, .app-store li{
    display: inline;
}


// results page

.results-container{

    padding: 2% 10% 0;
}

.results-location,.results-left
{
    display:inline;
    float:left;    
}
.results-location>div{
    display: inline;
    float:right;
}
.results-location>div p{
    text-align: center;
    margin:0;
}
.results-location>div p:last-child{
    text-decoration:underline;
    color:rgb(46, 129, 236);
    cursor: pointer;
}


.results-search-box,.results-right{
    float: right;
}
.clearfix,.results-section-one::after,.results-section-two::after{
    clear: both;
    content: "";
    display: block;
}
.results-section-one{
    border-bottom: 1px solid;
    padding-bottom: 15px;
}


.results-left{
    border-right: 1px solid;
}

.results-location,.results-left{
    width:20%;
}
.results-search-box,.results-right{
    width:80%;
}

.results-section{
    padding: 10px 10% 0; 
}

.results-location>h3{
    display: inline;
    height: 100%;
}

.results-sort{
    height: 75px;
}
.results-sort>p{
    margin:0;
    margin-bottom: 5px;
}

.results-sales-items,.results-sort{
    padding:10px;
}

.sales-items-list>p{
    font-weight: bold;
}

.sales-items-list>ul{
    padding-left: 15px;
}
.result-item-user-name{
    text-transform: capitalize;
}

.result-card{
    width:100%;
}

.result-list{
    padding-left: 0 !important;
}

.result-card-image{
    height:150px;
    width:150px;
    display: inline;
    float: left;
}
.result-card-content{
    display: inline;
    float: left;
    width:100%;
}


// result item

.result-item{
    padding: 2% 10% 0;
}
.result-card-item{
    display: flex;
}

.card-item-options{
    display:flex;
    justify-content: space-between;
}
.card-item-options >h5{
    display:inline;
}
.card-item-option-dropdown{
    display:inline;

}
.edit-item{
    background:#fff !important;
    padding:0 !important;
    border:0 !important;
}
.result-item-option{
    left:-140px !important;
}

.result-item-images{
    width:70%;
    background: white;
    margin: 10px auto 0;
    padding:3%;

}
.result-item-head{
    margin-bottom: 10px;
}
.result-item-head h3{
    font-weight: bold;
    text-transform: capitalize;
    margin: 0;
}
.result-item-head >p{
    margin: 0;
    display: inline;
}
.result-item-head p:last-child{
    display: inline;
    margin-left: 5px;
}

.result-item-image-main>img{
    width: 100%;
}
.result-item-image-main{
    margin-bottom: 15px;;
}
.result-item-sub-images{
    display: flex;
    justify-content: space-between;
}
.list-item-sub-image{
    width: 30%;
}


.result-item-details{
    margin-top:15px;
}
.result-item-contact{
    margin: 0 !important;
}


// Login

.loginEmail,.loginPassword{
    margin-bottom: 25px;
    display: block !important;
}

.MuiDialog-container.MuiDialog-scrollPaper>div{
    width:40%;
    margin: auto;
}


// register

.registerEmail,
.registerPassword,
.registerPasswordConf{
    margin-bottom: 25px;
    display: block !important;
}

.registerNames{
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
}


// manage ad

.managead-containor{
    display: flex;
    padding: 2% 10% 0;

}

.managead-left{
    background-color: white;
    padding-top:16px;
    width:20%;
    margin-right: 15px;
    height: fit-content;
    padding-bottom: 16px;
}

.managead-left button{
    width: 90%;
    margin:auto;
    border:0;
    margin: 5px;
    background:#ffed4a;
}

.managead-right{
    padding-left: 15px;
    background-color: white;
    width:80%;
}


// new ad
.NewAd-container{
    padding: 16px 0;
}
.newAd-form{
    display: flex;
    flex-direction: column;
    width:80%;
    margin:auto;
}
.newAd-files>input{
    margin-left: 5px;
    display: inline;;
}

.formDropDowns{
    display:flex;
    justify-content: space-between;

}
.district-dropdown,.salesType-dropdown,.salesSubtype-dropdown {
    width:30%;
}
.newAd-form button{
    border: 0;
    background: #ffed4a;
}

#edit-images{
    display:flex;
    margin :5px 0 15px 0;
}

.edit-image-container{
    position: relative;
    flex:1;
    width:25%;
    padding:2px;
}
.edit-image-container img{
    width: 100%;
    height: 100%;
}

.img-hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .edit-image-container:hover .image {
    opacity: 0.3;
  }
  
  .edit-image-container:hover .img-hover  {
    opacity: 1;
  }

  .img-add-btn {
    background-color: #009432;
    color: white;
    font-size: 16px;
    padding: 5px 15px;
  }


  
//   statistics

.stat-cont{
    display: flex;
}
.stat-cont>div{
    flex: 1;
}
.stat-cont-div-head{
    text-align: center;
    margin: auto;
    width: fit-content;
    border-bottom: 1px solid #009432;
}

.stat-cont-div-subhead{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 18px;
}

.stat-cont-div-img{
    width:100%;
    padding: 5px;
}


// house-price

#House-Prices{
    width: 80%;
    margin: auto;
}
#price-intro>h5{
    font-weight: bold;
}

.price-divs{
    margin: 20px 0 0 0;
}

.recharts-legend-item-text:hover{
    font-weight: bold;
    font-size: 20px;
}

.recharts-wrapper{
    margin:auto;
}